<div id="js-reimbursement-list" class="reimbursement-list">
    <div class="m-head">
        <ol class="breadcrumb">
            <li>
                <a href="" ng-click="historyBack();"><span class="glyphicon glyphicon-triangle-left"></span>返回</a>
            </li>
            <li class="active">您所在的位置：&nbsp; 报销管理</li>
        </ol>
    </div>
    <div class="head-actions">
        <a class="btn btn-primary" ng-click="payToEmployee();">向员工付款</a>
        &nbsp;&nbsp;&nbsp;&nbsp;现金金额：{{cashBalance / 100 | amountFormater}} 元 <i-tips tip="企业充值或转入金额"></i-tips>
    </div>
    <h2 class="short-title">报销记录</h2>
    <div class="search-field">
        <div class="search-group">
            <label class="search-label">月份：</label>
            <select class="form-control" ng-model="query.month" ng-change="getTable();" ng-disabled="reimbursePageDisabled">
                <option value="{{month}}" ng-repeat="month in months track by $index">{{selectMonth(month)}}</option>
            </select>
        </div>
        <div class="search-group">
            <label class="search-label">状态：</label>
            <label ng-repeat="st in status track by $index" class="btn" ng-class="{'btn-primary': query.status == $index}">
                {{st}}
                <input class="hidden" type="radio" name="status" ng-model="query.status" ng-change="getTable();" value="{{$index}}" ng-disabled="reimbursePageDisabled">
            </label>
        </div>
    </div>
    <div ng-include="'modules/reimbursement/list/listTable.html'"></div>
</div>
