<div id="payFst" ng-init="init()">
    <ol class="breadcrumb">
        <li>
            <a href="" ng-click="historyBack();">
                <span class="glyphicon glyphicon-triangle-left"></span>
                返回
            </a>
        </li>
        <li class="active">您所在的位置：<a href="#/pay-management">工资管理</a>>&nbsp; 直接发放工资</li>
    </ol>

    <!-- 上传excel操作模块 -->
    <div>
		<h2 class="short-title">上传员工工资表</h2>
        <div class="head-actions">
            <button ng-disabled ="loadStatus" id="upload-excel-btn" class="btn btn-primary upload-excel" ngf-select="upload($file,0)" ng-model="file" name="file" ngf-pattern=""
                    >
                <i ng-show="!loadStatus" >上传工资表</i>
                <i class="fa fa-spinner fa-spin"  ng-show="loadStatus" ></i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="download-template" href="/qrcode/工资发放列表.xls" target="_blank">下载模版</a>
			<div class="balance-tips">现金余额：<span>{{data.ext.balance | amountFormater}}</span>元<i-tips tip="企业充值或转入金额"></i-tips></div>
        </div>
    </div>


    <!-- 员工表格模块 -->
	<div  class="wage-list">

        <div ng-if="orderId">
            <online-edit  order-id="{{orderId}}" page-type="0" ></online-edit >
        </div>
		<div class="step-save">
			<a class="btn btn-primary" ng-disabled="btnSwitch" ng-click="stepSave()">下一步</a>
		</div>

    </div>

    
    <!-- 提示模块 -->
	<p class="important-tips-wrap">
		<img src="images/ia.png">
		<span class="import-text">重要提示：</span>
		<br>1. 请先下载模版，在此基础上录入工资信息，再进行上传。
		<br>2. 工资将发放到员工手机号对应的借贷宝账户上，员工收到后可以借给企业、购买理财产品、消费和提现。请在发放后通知员工查收。
		<br>3. 如果员工没有开通借贷宝，工资也会记入其名下，开通借贷宝后即可收到。如果6个月内未开通借贷宝，工资将返回企业账户。
		<br>4. 发放工资后，员工将成为企业的好友，企业即可向该员工借钱。如果当月未发工资，该员工将在下个月解除与企业的好友关系，企业无法再向其借钱，直至下次发放工资。
		<br>5. 每位员工，每次至少发放500元工资。
	</p>
</div>

<script type="text/ng-template" id="BalanceTips.html">
    <div class="modal-header">
        <h3 class="modal-title">提示</h3>
    </div>
    <div class="modal-body onledit-text-center">
		<p >余额不足，需充值{{balance | amountFormater}}元，请充值后重试</p>
        <span class="input-group-btn center-online-edit">
            <button class="btn btn-disabled left" type="submit" ng-click="cancel();">取消</button>
        </span>
        <span class="input-group-btn center-online-edit">
			<button class="btn btn-primary right" type="submit" ng-click="goRecharge();">去充值</button>
        </span>
    </div>
</script>

<!-- 在线编辑弹窗模板 -->

<script type="text/ng-template" id="onlineEdit.html">
    <div class="modal-header">
        <h3 class="modal-title">提示</h3>
    </div>
    <div class="modal-body onledit-text-center">
        <p>{{errorModalText}}</p>
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-click="cancel();">确定</button>
        </div>
    </div>
</script>

