<div id="laborScd" ng-init="init()">
    <ol class="breadcrumb">
        <li>
            <a href="" ng-click="historyBack();">
                <span class="glyphicon glyphicon-triangle-left"></span>
                返回
            </a>
        </li>
		<li class="active">您所在的位置：<a href="#/pay-management">工资管理</a>&gt;&nbsp; 发放劳务报酬</li>
    </ol>

	<h2 class="short-title">发放劳务报酬</h2>

	<div class="content-wrapper">
		<!-- 扫码鉴权 -->
		<div class="scan-auth">
			<scan-auth order-id="{{orderId}}" sel-type="3"></scan-auth>	
		</div>

		<!-- 员工表格模块 -->
		<h2 class="short-title sub-title">本次发放信息</h2>
		<div ng-show="wageList.length > 0">
			<!--已成功状态-->
			<div class="complete-table">
				<table class="table">
					<thead>
					<tr>
						<th>姓名</th>
						<th>手机号</th>
						<th>身份证号码</th>
						<th>实发劳务报酬</th>
						<th>备注</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in wageList track by $index">
						<td>{{item.name}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.idcard}}</td>
						<td>¥{{item.actual_amount | amountFormater }}</td>
						<td>{{item.remark}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="table-area" ng-show="wageList.length">
				<div class="clearfix table-bottom">
					<uib-pagination class="table-pagination" ng-change="getWageList(wagePageNo);"
									ng-disabled="wagePageDisabled"
									total-items="wageTotal.number"
									items-per-page="pageSize"
									ng-model="wagePageNo" max-size="5" rotate="false"
									class="pagination-sm" boundary-links="true"
									previous-text="上一页"
									next-text="下一页"
									first-text="首页"
									last-text="尾页"
							></uib-pagination>
				</div>
				<div class="table-tip">
					人数：{{wageTotal.number}}人&nbsp;&nbsp;&nbsp;&nbsp;
					实发金额：{{wageTotal.amount | amountFormater }}元
				</div>
			</div>
		</div>
	</div>

</div>

